<title>{% block title %}{% endblock %} - Administrasi Perpustakaan</title>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<nav>
  <h1>Administrasi Perpustakaan</h1>
  <ul>
    {% if g.admin %}
      <li><span>Selamat Datang <b>{{ g.admin['nama'] }}</b></span>
      <li><a class="button-base" href="{{ url_for('auths.logout') }}">Log Out</a>
    {% else %}
      <li><a class="button-base" href="{{ url_for('auths.register') }}">Register</a>
        <li style="margin:5px"></li>
      <li><a class="button-base" href="{{ url_for('auths.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
  {% endwith %}
  {% block content %}{% endblock %}
</section>